<div id="appComponent">
  <h1 class="mat-display-1">RisQc</h1>

  <div class="search-section">
    <mat-form-field appearance="outline">
      <mat-label>Recherche d'adresse</mat-label>
      <input #searchInput matInput placeholder="Entrez votre adresse, code postal..."
             [(ngModel)]="searchQuery">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <!--<button mat-mini-fab (click)="onLocationSearch()">-->
      <!--<mat-icon>search</mat-icon>-->
    <!--</button>-->

    <button mat-mini-fab matSuffix (click)="onMyLocation()">
      <mat-icon>my_location</mat-icon>
    </button>
  </div>

  <agm-map [latitude]="mapPosition.lat" [longitude]="mapPosition.lng" [zoom]="mapZoom" [styles]="mapStyles" (mapReady)="onMapReady($event)">

    <agm-marker *ngIf="myPosition" [latitude]="myPosition.lat" [longitude]="myPosition.lng"></agm-marker>

    <agm-polygon *ngFor="let zone of floodZones" [paths]="zone.GEOMETRIE"></agm-polygon>
  </agm-map>
</div>
