<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="end" (openedChange)="onDrawerToggle($event)" [opened]="drawerOpened">
    <div id="reportDrawer">
      <h1 align="center">Rapport de risques</h1>

      <ngx-gauge [append]="gauge.appendText"
                 [cap] = "gauge.cap"
                 [duration] = "gauge.duration"
                 [label]="gauge.label"
                 [max] = "gauge.max"
                 [min] = "gauge.min"
                 [thick] = "gauge.thick"
                 [thresholds]="thresholdConfig"
                 [type]="gauge.type"
                 [value]="gauge.value"
                 id="middle-element" >
      </ngx-gauge>

      <div class="cards-container">
        <mat-card *ngFor="let card of cards" style="margin-top:10px;">
          <div>
            <mat-icon class="warn">{{card.icon}}</mat-icon><span class="aligned-with-icon">{{card.message}}</span>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div id="appComponent">
      <h1 class="mat-display-1">RisQC</h1>
      <button id="toggleBtn" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon *ngIf="!drawerOpened">arrow_back</mat-icon>
        <mat-icon *ngIf="drawerOpened">arrow_forward</mat-icon>
      </button>
      <div class="search-section">
        <button (click)="onMyLocation()" mat-mini-fab matSuffix matTooltip="Utiliser ma position">
          <mat-icon>my_location</mat-icon>
        </button>

        <mat-form-field appearance="outline">
          <mat-label>Recherche d'adresse</mat-label>
          <input #searchInput [(ngModel)]="searchQuery" matInput
                 placeholder="Entrez votre adresse, code postal...">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>

        <!--<button mat-mini-fab (click)="onLocationSearch()">-->
        <!--<mat-icon>search</mat-icon>-->
        <!--</button>-->
      </div>

      <agm-map (mapReady)="onMapReady($event)" [latitude]="mapPosition.lat" [longitude]="mapPosition.lng" [styles]="mapStyles" [zoom]="mapZoom">

        <agm-marker *ngIf="myPosition"
                    [latitude]="myPosition.lat"
                    [longitude]="myPosition.lng"></agm-marker>

        <ng-container *ngIf="(risqData$ | async) as risqData">
          <agm-polygon *ngFor="let zone of risqData.zones"
                       [paths]="zone.polygon"
                       [strokeWeight]="1"
                       [fillColor]="zone.color"
                       [strokeColor]="zone.color">

          </agm-polygon>
          <agm-marker *ngFor="let hydrant of risqData.hydrants"
                      [latitude]="hydrant.location.lat"
                      [longitude]="hydrant.location.lng"
                      iconUrl="/assets/img/hydrant.png">

          </agm-marker>
        </ng-container>
      </agm-map>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
