@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

#appComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .search-section {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    mat-form-field {
      flex: 1 1 auto;
    }
    button {
      margin: 5px;
      flex: 0 0 auto;
    }
  }

  h1 {
    flex: 1 1 auto;
    margin-bottom: 15px;
  }

  mat-form-field {
    flex: 1 1 auto;
  }

  agm-map {
    flex: 1 0 calc(100vh - 140px);
    width: 100%;
    height: calc(100vh - 140px);
  }
}

mat-drawer {
  @include for-phone-only {
    width: 100vw;
  }
}

#reportDrawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 350px;
  @include for-phone-only {
    width: 100%;
  }

  .cards-container {
    width: 100%;
    mat-icon{
      position:absolute;
      top:0;
      bottom:0;
      margin:auto;
      &.warn {
        color: #f44336;
      }
      &.danger {
        color: #ffeb3b;
      }
    }
    .aligned-with-icon {
      margin-left: 40px;
    }
  }
}

#toggleBtn{
  position: absolute;
  right: 0;
  top: 0;
}

#drawerToggleBtn{
  position: absolute;
  left: 0;
  top: 0;
}
